boto3==1.20.29
celery==5.2.3
dj-rest-auth[with_social]
Django==3.2.11
django-allauth==0.47.0
django-cors-headers==3.10.1
django-storages==1.12.3
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
environs[django]==9.4.0
google-api-python-client==2.34.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
greenlet==1.1.2
gunicorn[gevent, setproctitle]==20.1.0
redis==4.1.0
requests==2.27.1
tablib[xlsx]==3.1.0
tweepy==4.4.0
