boto3==1.18.26
celery==5.1.2
Django==3.2.8
django-cors-headers==3.10.0
django-storages==1.12.2
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
environs[django]==9.3.4
google-api-python-client==2.31.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
greenlet==1.1.2
gunicorn[gevent, setproctitle]==20.1.0

redis==3.5.3
requests==2.26.0
tweepy==4.2.0
