PESACHECK_URL=https://pesacheck.org
PESACHECK_GHOST_CONTENT_API_KEY=
PESACHECK_GHOST_POSTS_LIMIT=15
PESACHECK_CHECK_URL=https://check-api.checkmedia.org/api/graphql
PESACHECK_CHECK_TOKEN=
PESACHECK_CHECK_WORKSPACE_SLUG=pesacheck-tipline-sandbox
PESACHECK_SENTRY_DSN=
PESACHECK_SENTRY_TRACES_SAMPLE_RATE=1.0
PESACHECK_SENTRY_ENVIRONMENT=local
PESACHECK_DATABASE_NAME=pesacheck.db
